version: "3.4"
services:
  redis:
    image: "redis"
    container_name: "redis"
    hostname: "ayro-redis"
    volumes:
      - "${AYRO_HOME}/ayro-configs/docker/redis/default.conf:/usr/local/etc/redis/redis.conf"
      - "${AYRO_HOME}/data/redis:/data"
    ports:
      - "6379:6379"
    command: "redis-server /usr/local/etc/redis/redis.conf"
    networks:
      default:
        ipv4_address: "172.28.5.5"
    extra_hosts:
      - "ayro:172.28.5.1"
      - "ayro-webcm:172.28.5.2"
      - "ayro-website:172.28.5.3"
      - "ayro-mongo:172.28.5.4"
      - "ayro-redis:172.28.5.5"
      - "ayro-nginx:172.28.5.6"
      - "ayro-registry:172.28.5.7"