version: "3.4"
services:
  redis:
    << : *common
    image: "redis:4.0.5"
    container_name: "redis"
    hostname: "ayro-redis"
    restart: "always"
    volumes:
      - "${AYRO_HOME}/apps/ayro-configs/docker/redis/default.conf:/usr/local/etc/redis/redis.conf"
      - "${AYRO_HOME}/data/redis:/data"
    command: "redis-server /usr/local/etc/redis/redis.conf"
    networks:
      default:
        ipv4_address: "172.28.5.12"