version: "3"
services:
  redis:
    image: "redis"
    container_name: "redis"
    hostname: "ayro-redis"
    volumes:
      - "<AYRO_HOME>/ayro-configs/redis/default.conf:/usr/local/etc/redis/redis.conf"
      - "<AYRO_HOME>/data/redis:/data"
    ports:
      - "6379:6379"
    command: "redis-server /usr/local/etc/redis/redis.conf"
    networks:
      default:
        aliases:
          - "ayro-redis"
networks:
  default:
    external:
      name: "ayro-network"