version: "3.4"
services:
  registry:
    image: "registry"
    container_name: "registry"
    hostname: "ayro-registry"
    volumes:
      - "${AYRO_HOME}/ayro-configs/certificate:/certs"
      - "${AYRO_HOME}/auth:/auth"
      - "/var/lib/registry:/var/lib/registry"
    ports:
      - "7000:443"
    environment:
      REGISTRY_HTTP_ADDR: "0.0.0.0:443"
      REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/docker.ayro.io/fullchain.pem"
      REGISTRY_HTTP_TLS_KEY: "/certs/docker.ayro.io/privkey.pem"
      REGISTRY_AUTH: "htpasswd"
      REGISTRY_AUTH_HTPASSWD_PATH: "/auth/registry.password"
      REGISTRY_AUTH_HTPASSWD_REALM: "Registry Realm"
    networks:
      default:
        ipv4_address: "172.28.5.7"
    extra_hosts:
      - "ayro:172.28.5.1"
      - "ayro-webcm:172.28.5.2"
      - "ayro-website:172.28.5.3"
      - "ayro-mongo:172.28.5.4"
      - "ayro-redis:172.28.5.5"
      - "ayro-nginx:172.28.5.6"
      - "ayro-registry:172.28.5.7"