version: "3.4"
services:
  ayro-website:
    image: "ayro/ayro-website"
    container_name: "ayro-website"
    hostname: "ayro-website"
    volumes:
      - "${AYRO_HOME}/configs/ayro-website.properties:/usr/src/ayro-website/server/config.properties"
    networks:
      default:
        ipv4_address: "172.28.5.3"
    extra_hosts:
      - "ayro:172.28.5.1"
      - "ayro-webcm:172.28.5.2"
      - "ayro-website:172.28.5.3"
      - "ayro-nginx:172.28.5.10"
      - "ayro-mongo:172.28.5.11"
      - "ayro-redis:172.28.5.12"