version: "3"
services:
  ayro-website:
    image: "ayro/ayro-website"
    container_name: "ayro-website"
    hostname: "ayro-website"
    volumes:
      - "<AYRO_HOME>/ayro-configs/docker/ayro/ayro-website/config.properties:/usr/src/ayro-website/server/config.properties"
    ports:
      - "4000:4000"
    networks:
      default:
        ipv4_address: "172.28.5.3"
        aliases:
          - "ayro-website"
networks:
  default:
    external:
      name: "ayro-network"