version: "3.4"
services:
  ayro:
    image: "ayro/ayro"
    container_name: "ayro"
    hostname: "ayro"
    volumes:
      - "${AYRO_HOME}/configs/ayro.properties:/usr/src/ayro/config.properties"
      - "${AYRO_HOME}/public:/usr/src/ayro/public"
    networks:
      default:
        ipv4_address: "172.28.5.1"
    extra_hosts:
      - "ayro:${DOCKER_HOST}"
      - "ayro-webcm:${DOCKER_HOST}"
      - "ayro-website:${DOCKER_HOST}"
      - "ayro-nginx:172.28.5.10"
      - "ayro-mongo:172.28.5.11"
      - "ayro-redis:172.28.5.12"