version: "3.4"
services:
  ayro:
    << : *common
    image: "${AYRO_REGISTRY}/ayro/ayro:latest"
    container_name: "ayro"
    hostname: "ayro"
    restart: "always"
    volumes:
      - "${AYRO_HOME}/configs/ayro.properties:/usr/src/ayro/config.properties"
      - "${AYRO_HOME}/public:/usr/src/ayro/public"
    networks:
      default:
        ipv4_address: "172.28.5.1"