version: "3"
services:
  ayro:
    image: "ayro/ayro"
    container_name: "ayro"
    hostname: "ayro"
    volumes:
      - "/opt/configs/ayro.properties:/usr/src/ayro/config.properties"
    ports:
      - "3000:3000"
    networks:
      default:
        aliases:
          - "ayro"
networks:
  default:
    external:
      name: "ayro-network"