version: "3.4"
services:
  nginx:
    << : *common
    image: "nginx:1.13.7"
    container_name: "nginx"
    hostname: "ayro-nginx"
    restart: "always"
    volumes:
      - "${AYRO_HOME}/apps/ayro-configs/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf"
      - "${AYRO_HOME}/apps/ayro-configs/certs:/etc/nginx/ssl"
    ports:
      - "80:80"
      - "443:443"
    networks:
      default:
        ipv4_address: "172.28.5.10"