version: "3.4"
services:
  ayro-webcm:
    << : *common
    image: "554511234717.dkr.ecr.us-west-1.amazonaws.com/ayro/ayro-webcm:latest"
    container_name: "ayro-webcm"
    hostname: "ayro-webcm"
    restart: "always"
    volumes:
      - "${AYRO_HOME}/configs/ayro-webcm.properties:/usr/src/ayro-webcm/config.properties"
    networks:
      default:
        ipv4_address: "172.28.5.2"