version: "3.4"
services:
  ayro-webcm:
    << : *common
    image: "ayro/ayro-webcm"
    container_name: "ayro-webcm"
    hostname: "ayro-webcm"
    volumes:
      - "${AYRO_HOME}/configs/ayro-webcm.properties:/usr/src/ayro-webcm/config.properties"
    networks:
      default:
        ipv4_address: "172.28.5.2"