version: "3"
services:
  ayro-website:
    image: "ayro/ayro-website"
    container_name: "ayro-website"
    hostname: "ayro-website"
    volumes:
      - "/opt/configs/ayro-website.properties:/usr/src/ayro-website/server/config.properties"
    ports:
      - "4000:4000"
    networks:
      default:
        aliases:
          - "ayro-website"
networks:
  default:
    external:
      name: "ayro-network"