version: "3"
services:
  mongo:
    image: "mongo"
    container_name: "mongo"
    hostname: "ayro-mongo"
    volumes:
      - "<AYRO_HOME>/ayro-configs/mongo/default.conf:/usr/local/etc/mongo/mongod.conf"
      - "<AYRO_HOME>/data/mongo:/data/db"
    ports:
      - "27017:27017"
    command: "mongod --config /usr/local/etc/mongo/mongod.conf"
    networks:
      default:
        aliases:
          - "ayro-mongo"
networks:
  default:
    external:
      name: "ayro-network"